.title-container{
    background: #091E33;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width:100%;
}

#title{
    font-size:x-large;
    margin-left: 10px;
}